.nav-page{
    border-bottom: 1px solid #eee;

    .nave-bar{
        display: flex;
        justify-content: space-between;
    }
}

.account-layout{
    background-color: #F0FCFD;
    height: 100%;
}


/* Global css*/
.thick{
    font-weight: 500;
}

.btn-link{
    color:#000;
}

html, body{
    font-size: 14px;
    height: 100%;
    color: #161f32;
}

.card-body{
    text-align: left;
    padding: 20px !important;
}


.master-menu{
    background-color: #fff;
    border-right: 1px solid #eee;

    .menu-item{
        font-size: 12px;
        display: block;
        padding: 8px 18px;
        color: #161f32;
        font-weight: 500;
        border-radius: 99px;
        margin-bottom: 8px;

        i{
            font-size: 14px;
            margin-right: 10px;
        }

        &.active{
            background-color: #ecf2f9;
        }

        &:hover{
            background-color: #ecf2f9;
            text-decoration: none;
        }
    }
}


.page-section{
    background: #fff;
    border: 1px solid #e3e8e9;
    border-radius: 5px;
    padding: 24px;
}


.btn-dd{
    position: relative;
}

.btn-outline-primary:hover{
    background-color: #fff !important;
    color: #007bff !important;
}


.my-table{
    border-collapse: separate;
    border-spacing: 0 5px;
    margin-top: -5px;
    width: 100%;
    padding-left: 30px;

    thead{
        th{
            border: none;
        }
    }

    tbody tr{
        background-color: #fff;
        border-radius: 2px;
        border-top: 1px solid var(--jc-border-color);
        box-shadow: 0 0 8px 0.5px #0000000b;
        position: relative;
        
        td{
            vertical-align: middle;
        }

        &.item-selected{
            background-color:#e8f8f8;
        }
    }

    .item-checkbox{
        position: relative;
        right: 20px;
    }
}

.table-pagination{
    margin-left: 30px;
}


.page-header{
    padding-top: 16px;
    display: flex;
    justify-content: space-between;

    .header-side{
        display: flex;
        gap: 10px;
    }
}