<div class="portal-menu master-menu">
    <a href="/users/" class="menu-item">
        <i class="bi bi-person"></i>
        Manage Users
    </a>
     <a href="/roles/" class="menu-item">
        <i class="bi bi-people"></i>
        User groups
    </a>
    <a href="/clients/" class="menu-item">
        <i class="bi bi-window-fullscreen"></i>
        Manage Applications
    </a>
    <a href="/apiscopes/" class="menu-item">
        <i class="bi bi-window-fullscreen"></i>
        Api scopes
    </a>
    <a href="/diagnostics" class="menu-item">
            <i class="bi bi-bar-chart"></i>
            Diagnostics
    </a>
    <a href="/grants" class="menu-item">
        <i class="bi bi-universal-access"></i>
        Application grants access
    </a>
</div>

<script src="~/js/layout/menu.js"></script>
