<ul class="master-menu list-unstyled fw-normal pb-2 small">
    <li><a href="/portal" class="bd-links-link d-inline-block rounded">Applications</a></li>
    <li><a href="/portal/profile" class="bd-links-link d-inline-block rounded">Profile</a></li>
    <li><a href="/portal/security" class="bd-links-link d-inline-block rounded">Security</a></li>
</ul>