<ul class="master-menu list-unstyled fw-normal pb-2 small">
    <li><a href="/diagnostics" class="bd-links-link d-inline-block rounded">Diagnostics</a></li>
    <li><a href="/grants" class="bd-links-link d-inline-block rounded">Application grants access</a></li>
    <li><a href="/users/" class="bd-links-link d-inline-block rounded">Manage Users</a></li>
    <li><a href="/roles/" class="bd-links-link d-inline-block rounded">User groups</a></li>
    <li><a href="/clients/" class="bd-links-link d-inline-block rounded">Manage Applications</a></li>
</ul>