<div class="portal-menu master-menu">
    <a href="/portal" class="menu-item"><i class="bi bi-ui-checks-grid"></i>Applications</a>
    <a href="/portal/profile" class="menu-item"><i class="bi bi-person-gear"></i>Profile</a>
    <a href="/portal/security" class="menu-item"><i class="bi bi-shield-lock"></i>Security</a>
</div>

<script src="~/js/layout/menu.js"></script>
