@using System.Diagnostics

@{
    var version = FileVersionInfo.GetVersionInfo(typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.Location).ProductVersion.Split('+').First();
}

<div class="welcome-page">
    <h1>Welcome to the Home Page</h1>
    <p class="lead">Choose your destination:</p>

    <div class="mb-3">
        <a href="/diagnostics" class="btn btn-primary btn-lg">Go to Admin Site</a>
    </div>

    <div>
        <a href="/portal" class="btn btn-success btn-lg">Go to Portal</a>
    </div>
</div>
