@model LoginViewModel

<a class="btn btn-link btn-lg" href="/a/login">Portal login <i class="bi bi-arrow-right"></i></a>

<div class="account-form">

    <div class="form">

        @if (Model.EnableLocalLogin)
        {
            <div>
                <div class="card">
                    <h4 class="mt-4">Admin Login</h4>

                    <div class="card-body">
                        <form asp-route="LoginAdmin">
                            <input type="hidden" asp-for="ReturnUrl" />

                            <div class="form-group">
                                <label asp-for="Username"></label>
                                <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                            </div>
                            @if (Model.AllowRememberLogin)
                            {
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" asp-for="RememberLogin">
                                        <label class="form-check-label" asp-for="RememberLogin">
                                            Remember My Login
                                        </label>
                                    </div>
                                </div>
                            }

                            <partial name="_ValidationSummary" />

                            <button class="btn btn-primary btn-block btn-lg" name="button" value="login">Login</button>

                            <div class="my-4 text-center">OR</div>
                            @if (Model.VisibleExternalProviders.Any())
                            {
                                @foreach (var provider in Model.VisibleExternalProviders)
                                {
                
                                    <a class="btn btn-outline-primary btn-block btn-lg"
                                    asp-controller="External"
                                    asp-action="Challenge"
                                    asp-route-scheme="@provider.AuthenticationScheme"
                                    asp-route-returnUrl="@Model.ReturnUrl">
                                        <i class="bi bi-google mr-3"></i>@provider.DisplayName
                                    </a>
                                }
                            }
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>