@model LogoutViewModel

<div class="account-form">

    <div class="form">

        <div>
            <div class="card">
                <h4 class="mt-4">User logout</h4>
                <p>Would you like to logut of IdentityServer?</p>

                <div class="card-body">
                    <form asp-action="Logout" asp-controller="Account" method="post">
                        <input type="hidden" name="logoutId" value="@Model.LogoutId"  />
                        <div class="form-group">
                            <button class="btn btn-primary btn-block btn-lg" name="button" value="login">Yes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
