@model ResetPasswordViewModel

<a class="btn btn-link btn-lg" href="/a/login">Back to login <i class="bi bi-arrow-right"></i></a>

<div class="account-form">

    <div class="form">
        <div>
            <div class="card">
                <h4 class="mt-4">Reset password</h4>

                <div class="card-body">
                    <form asp-route="Login">

                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input class="form-control" placeholder="Email" asp-for="Email" autofocus>
                        </div>

                        <partial name="_ValidationSummary" />

                        <button class="btn btn-primary btn-block btn-lg" name="button">Reset password</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>