.body-container {
	margin-top: 60px;
	padding-bottom: 40px;
}

.item-selected{
  background-color: #f7f7fb;
}

.form-group .control-label {
	font-weight: 500;
}

.welcome-page li {
	list-style: none;
	padding: 4px;
}

.logged-out-page iframe {
	display: none;
	width: 0;
	height: 0;
}

.grants-page .card {
	margin-top: 20px;
	border-bottom: 1px solid lightgray;
}

.grants-page .card .card-title {
	font-size: 120%;
	font-weight: bold;
}

.grants-page .card .card-title img {
	width: 100px;
	height: 100px;
}

.grants-page .card label {
	font-weight: bold;
}

.page-container {
	display: flex;
  	margin-bottom: 100px;
	background-color: #f9fafb;
}

.page-container .master-menu {
	width: 220px;
	padding: 16px 4px 32px 4px;
	background-color: #fff;
}


.page-container .master-menu li{
	margin-bottom: 4px;
	border-radius: 999px;
}

.page-container .master-menu li:hover {
	background-color: #f0f8ff;
}

.page-container .master-menu li a {
	padding: 8px 16px;
	font-weight: 500;
	text-decoration: none;
	color: #666;
}

.page-container .page-body {
	height: calc(100vh - 59px);
	margin: auto;
	width: 1000px;
	margin-top: 20px;
	margin-bottom: 100px;
}


.page-container .page-body .page-section{
	background-color: #fff;
    border: 1px solid #e3e8e9;
    border-radius: 5px;
    padding: 24px;
}

.application-list{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.application-list .item{
	position: relative;
    background-color: #f9fafb;
    border: 1px solid #e3e8e9;
    border-radius: 3px;
    height: 100%;
    margin: 12px;
    min-width: 8.8em;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease-in-out;
    width: 18%;
	font-size: 14px;
}

.application-list .item:hover{
	box-shadow: 0 0 12px 0 #c9cccf;
    transform: scale(1.03);
}

.application-list .item .name{
	font-size: 14px;
	width: 150px;
	font-weight: 500;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.application-list .item .icon{
	border-radius: 50%;
    display: inline-block;
    font-size: 32px;
    font-weight: Bold;
    height: 67.2px;
    line-height: 38px;
    margin: 23px;
    padding: 15px;
    transition: all .1s ease-in-out;
    width: 68.8px;
	color: #fff;
	background-color: #006cac;
}